.InvoiceItemForm {
  margin: 0 auto;
  padding: 1%;
  border: 1px solid black;
}

.InvoiceItemForm h2 {
  text-align: center;
}

.InvoiceItemForm form {
  display: flex;
  flex-direction: column;
}

.InvoiceItemForm label {
  font-weight: bold;
}

.InvoiceItemForm input
 {
  width: 8vw;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: small;
}
.InvoiceItemForm button{
  width: 4vw;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}

.InvoiceItemForm textarea{
  font-size: medium;
}

.InvoiceItemForm .productName {
  width: 17vw;
}

.InvoiceItemForm .HsnClass,
.InvoiceItemForm .QtyClass,
.InvoiceItemForm .UnitClass,
.InvoiceItemForm .GstP
 {
  width: 4vw;
}

.InvoiceItemForm button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.InvoiceItemForm button:hover {
  background-color: #0056b3;
}

.totals-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}

.totals {
  width: 50%;
  border-collapse: collapse;
  border-right: 1px solid black;
  

}

.totals th,
.totals td {
  padding: 13px;
  text-align: center;

}

.totals th {
  background-color: #f2f2f2;

}

.alphaTotal {
  width: 50%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

.headtot {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

.alpha_text {
  width: 99%;
  font-size: 1.5rem;
}

.productName {
  resize: vertical; 
}
@media print {
  .InvoiceItemForm button[type="button"] {
    display: none;
  }
  .InvoiceItemForm th:nth-child(11),
  .InvoiceItemForm td:nth-child(11) {
    display: none;
  }
}

@media screen and (max-width: 1318px) {
  /* Adjust font size for headings */
  .InvoiceItemForm th {
    font-size: 1.2vw;
  }

  .InvoiceItemForm input
  {
   width: 7.3vw;
   padding: 2px;
   margin-bottom: 1px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size:1vw;
 }

 .InvoiceItemForm .productName {
  font-size: small;
}

}