.btst-head{
    background-color: #d8ecfc;
    display: flex;
    justify-content: center;
    font-size: medium; 
    padding: .6%;  
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.btHead{
    width: 49.95%;

}