
* {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}



.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 87%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.download-btn:hover {
  background-color: #0056b3;
}
/* main.css */

@media print {
  /* Hide headers, footers, navigation, etc. */
  header, footer, nav {
    display: none;
  }
  
  /* Show only the content you want to print */
  .container {
    display: block;
  }
}


.printable-content{
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 1%;
  padding: 3%;

} 
.printBtn{
  padding: 15px;
  font-size: larger;
  width: 7em;
  margin: 1em;
  border-radius: 50px;
  font-weight: 600;
  background-color: rgb(114, 171, 220);
  cursor: pointer;
}

.printBtn:hover{
  background-color: rgb(113, 231, 113);
}