.accountDetails{
    width: 51.4%;
    border: 1px solid black;
    height: 20vw;
}

.stamp{
    width: 50%;
    border: 1px solid black;
    height: 20vw;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}